div.dovecot-seealso {
  background-color: unset;
  border: 0;
  margin: unset;
  margin-bottom: 10px;
  padding: 0;
}

div.dovecot-seealso p.admonition-title {
  font-size: unset;
  font-style: italic;
}

div.dovecot-seealso p {
  margin: 0 0 0 15px;
}

dl.dovecotsetting {
  margin-bottom: 10px;
}

dl.dovecotsetting + dl.dovecotsetting {
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

dl.dovecotsetting dd {
  margin-left: 15px;
}
