/* This file allows configuration overrides of various core settings. */

// Allows custom mapping of data sources.
// It is used by the VitePress data loaders to determine what data to
// load for export.
//
// By default, all data files are loaded from "../data" directory
// (paths are relative to "<base>/lib").
//
// Keys are data identifiers, Values are location RELATIVE TO
// * "<base>/lib" DIRECTORY.
export const data_paths = {
	// doveadm: '../data/doveadm.js',
}
